head {
    background-color: grey;

}


.uno {
    background-color: grey;
    height: 300px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.btn-link {
    color: aliceblue;
}


h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}

footer{
    background-color: gray;
    height: 80px;
    text-align: center;
}





p {
    color:black
}